body {
  font-family: Arial, sans-serif;
  padding: 2vw;
  width: 91vw;
}

#sidebar {
  background-color: #ffffff;
  padding: 2vw;
  /*border-left: 2px solid #ccc;*/
}

button {
  padding: 8px;
  margin-top: 10px;
  cursor: pointer;
}
