html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.brand-normal {
  font-size: 1.5em;
}

.brand-ai {
  font-size: 3em;
  font-weight: bold;
  color: #CFB87C;
}

body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
}

#sidebar {
  background-color: #ffffff;
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

#chatArea {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.message {
  padding: 5px;
  margin: 5px 0;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.message.disclaimer{
  background-color: #ffe6e6; /* light red */
  color: #990000;
  font-style: italic;
}

.message.user {
  background-color: #ffffff; /* white */
}

.message.gemini {
  background-color: #d1ffd6; /* light green */
}

#inputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#messageInput,
#sendMessageBtn {
  width: 100%;
  font-size: 14px;
  padding: 8px;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
